@import "config";
@import "utilities";

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  /* hide scrollbar but allow scrolling */

  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
* {
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  color: $dark-color;
}
ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}
img {
  width: 100%;
}
#logo {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}
#main-nav {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  align-items: center;

  .logo-head {
    #ham-icon {
      display: none;
      cursor: pointer;
    }
  }

  ul {
    display: flex;
    justify-content: space-between;
  }
  li {
    padding: 0rem 1.5rem;

    a {
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      border-bottom: 3px transparent solid;
      padding-bottom: 0.5rem;
      transition: border-color 0.5s;

      &:hover {
        border-color: $medium-color;
      }
      &.current {
        border-color: $main-color;
      }
    }
  }
}
#header {
  &-home {
    background: $bg-image no-repeat center center / cover;
    height: 100vh;
    color: white;

    .header-content {
      text-align: center;
      padding-top: 20%;

      h1 {
        font-size: 3rem;
      }
      a {
        margin-right: 1rem;
        font-size: 1rem;
      }
    }
  }
  &-inner {
    background: $bg-image no-repeat center center / cover;
    height: 5rem;
    border-bottom: 3px solid $main-color;
    color: white;
  }
}
#home {
  &-a {
    .specials {
      margin-top: 2rem;
      display: grid;
      grid-gap: 1rem;
      grid-template-columns: repeat(4, 1fr);

      .fas,
      .fab {
        color: $main-color;
        padding-bottom: 0.5rem;
      }
    }
  }
  &-b {
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: auto;

      input {
        height: 2rem;
      }
      input,
      textarea {
        margin-bottom: 1rem;
        padding: 0.5rem;
      }
    }
  }
}

#about {
  &-a {
    .about-info {
      display: flex;
      align-items: center;
      justify-content: space-between;

      // border: 2px solid red;

      img {
        width: 300px;
        height: 300px;
      }
      div {
        width: 70%;
        padding: 1rem;
        height: 300px;
        box-sizing: border-box;
        border-left: 3px solid $main-color;
        font-size: 1.2rem;

        h4 {
          margin-bottom: 2rem;
        }
      }
    }
  }
  &-b {
    .progress {
      height: 20px;
      overflow: hidden;
      background: $medium-color;
      margin-bottom: 0.5rem;
      border-radius: 5px;

      div {
        height: 100%;
        text-align: center;
        background-color: $main-color;
      }
    }
  }
  &-c {
    .about-logos {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-gap: 1rem;
    }
  }
}

#main-footer {
  background-color: $dark-color;
  color: #fff;
  height: 5rem;

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;

    .social .fab {
      margin-right: 1rem;
      border: 2px solid white;
      border-radius: 50%;
      height: 20px;
      width: 20px;
      line-height: 20px;
      text-align: center;
      padding: 0.5rem;
      color: white;

      &:hover {
        background-color: $main-color;
      }
    }
  }
}
#work {
  &-a {
    box-sizing: border-box;

    .lead {
      text-align: center;
    }
    .work-projects {
      // height: calc(100vh - 10rem);

      div {
        margin-bottom: 1rem;
        font-size: 1.2rem;
        display: grid;
        grid-template-columns: 3fr 1fr 1fr;
        grid-gap: 1rem;

        a {
          text-align: center;
        }
      }
    }
  }
}
#contact {
  &-a {
    .contact-form {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin: auto;

      input {
        height: 2rem;
      }
      input,
      textarea {
        margin-bottom: 1rem;
        padding-left: 0.5rem;
      }
    }
  }
  &-b {
    .contact-info {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 1rem;
      text-align: center;
      padding: 2rem;
    }
  }
  &-c {
    h1 {
      text-align: center;
      font-size: 2rem;
    }
  }
}

@import "media";
