* {
  padding: 0;
  margin: 0;
}

i {
  font-size: 30px;
  padding: 5px 30px;
}
.connect {
  color: white;
  font-size: 20px;
}
.navbar-brand {
  font-size: 25px;
}
.social {
  color: white;
}
.social:hover {
  color: orange;
}
.s-link {
  color: orange;
}
.s-link:hover {
  color: white;
}
.contact .card-text i {
  font-size: 30px;
  padding: 0px 0px;
}
.contact {
  position: relative;
  background-color: black;
  color: white;
  opacity: 0.9999;
  border-radius: 0;
  height: 100%;
  padding-bottom: 280px;
}

.contact::before {
  content: "";
  background: url("./images/contact-img.jpg") no-repeat center center/cover;
  position: absolute;
  opacity: 0.2;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media screen and (min-width: 770px) {
  .contact {
    padding-left: 50px;
  }
  .contact .card-title {
    font-size: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .contact .card-text {
    font-size: 20px;
  }
}
@media screen and (max-width: 770px) {
  .contact .card-title {
    font-size: 20px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 990px) {
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }
  .nav-link {
    font-size: 20px;
  }
  .navbar-brand {
    margin-right: 850px;
  }
}
