* {
  padding: 0;
  margin: 0;
}

i {
  font-size: 30px;
  padding: 5px 30px;
}

.navbar-brand {
  font-size: 25px;
}
.navbar-brand:hover {
  color: orange;
}
.card {
  position: relative;
  background-color: black;
  color: white;
  opacity: 0.9;
  border-radius: 0;
}

.card::before {
  content: "";
  background: url("./images/content.jpg") no-repeat center center/cover;
  position: absolute;
  opacity: 0.1;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  z-index: -1;
}
.col-md-4 img {
  height: 81vh;
  margin-right: 0;
  padding-right: 0;
}

.card-title {
  font-size: 35px;
}
.subhead {
  font-size: 25px;
}
.descr {
  font-size: 20px;
}
.connect {
  color: white;
  font-size: 20px;
}
.social {
  color: white;
}
.social:hover {
  color: orange;
}
.hire {
  background-color: orange;
  color: black;
  font-size: 20px;
  margin-right: 10px;
}
.hire:hover {
  background-color: #011e2c;
}
@media screen and (min-width: 770px) {
  .card-body {
    padding-top: 40px;
  }
  .about {
    padding-left: 50px;
  }
  .about .card-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .about .card-text {
    font-size: 25px;
  }
}
@media screen and (max-width: 770px) {
  .card-title {
    font-size: 25px;
    margin-bottom: 10px;
  }
  .card-text {
    font-size: 17px;
  }
}
@media screen and (min-width: 990px) {
  .navbar-brand {
    font-size: 30px;
    font-weight: bold;
  }
  .nav-link {
    font-size: 20px;
  }
  .navbar-brand {
    margin-right: 850px;
  }
}
@media screen and (max-width: 735px) {
  .col-md-4 img {
    height: 60vh;
    width: 100vw;
    padding: 15px 15px;
  }
  .hire {
    font-size: 15px;
    margin-right: 5px;
  }
}

